@charset "UTF-8";

/**
 * Reset browser default style sheet.
 */

* {
    margin  : 0;
    padding : 0;
    border  : 0;
}

/**
 * Clearfix
 */

.clearfix.after {
    content : "";
    display : table;
    clear   : both;
}

